### Prueba de limpieza partiendo el dataframe por Estaci√≥n

In [1]:
import pandas as pd

In [2]:
dataCompleto = pd.read_csv('../Ingesta/ESTACIONES_COMBINADAS_NO_LIMPIO/estaciones_combinadas_NO_LIMPIO.csv', decimal=",")
dataCompleto

C:\Users\javie\AppData\Local\Temp\ipykernel_14448\1296077375.py:1: DtypeWarning: Columns (34,37,39,45,46,47) have mixed types. Specify dtype option on import or set low_memory=False.
  dataCompleto = pd.read_csv('../Ingesta/ESTACIONES_COMBINADAS_NO_LIMPIO/estaciones_combinadas_NO_LIMPIO.csv', decimal=",")

,COD_ESTACION,NOM_ESTACION,FECHA,HORA,SO2,CO,NO,NO2,NOx,O3,...,HMN,HNM,H2S,IcdP,Ni,Pb,PST,BbFA+BjFA+BkFA,PM2.5d,PM10d
0,3065006,ELX - AGROALIMENTARI,2002-06-01,0,-,-,-,-,-,-,...,-,-,-,-,-,-,-,NaN,NaN,NaN
1,3065006,ELX - AGROALIMENTARI,2002-06-01,1,-,-,-,-,-,-,...,-,-,-,-,-,-,-,NaN,NaN,NaN
2,3065006,ELX - AGROALIMENTARI,2002-06-01,2,-,-,-,-,-,-,...,-,-,-,-,-,-,-,NaN,NaN,NaN
3,3065006,ELX - AGROALIMENTARI,2002-06-01,3,-,-,-,-,-,-,...,-,-,-,-,-,-,-,NaN,NaN,NaN
4,3065006,ELX - AGROALIMENTARI,2002-06-01,4,-,-,-,-,-,-,...,-,-,-,-,-,-,-,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
690189,3133002,TORREVIEJA,2024-11-30,19,-,-,16,59,83,6,...,-,NaN,-,-,-,-,-,NaN,NaN,NaN
690190,3133002,TORREVIEJA,2024-11-30,20,-,-,35,57,111,3,...,-,NaN,-,-,-,-,-,NaN,NaN,NaN
690191,3133002,TORREVIEJA,2024-11-30,21,-,-,21,47,79,3,...,-,NaN,-,-,-,-,-,NaN,NaN,NaN
690192,3133002,TORREVIEJA,2024-11-30,22,-,-,13,30,49,5,...,-,NaN,-,-,-,-,-,NaN,NaN,NaN
690193,3133002,TORREVIEJA,2024-11-30,23,-,-,9,21,35,7,...,-,NaN,-,-,-,-,-,NaN,NaN,NaN

In [3]:
dataElche = dataCompleto[dataCompleto["NOM_ESTACION"] == "ELX - AGROALIMENTARI"]
dataTorrevieja = dataCompleto[dataCompleto["NOM_ESTACION"] == "TORREVIEJA"]
dataOrihuela = dataCompleto[dataCompleto["NOM_ESTACION"] == "ORIHUELA"]
dataAlicante = dataCompleto[dataCompleto["NOM_ESTACION"] == "ALACANT - EL PLA"]

In [4]:
def limpiezaAutomaticaPorEstacion(dataFrame):
    dataFrame.replace("-", pd.NA, inplace=True)
    columnasImportantes = [
        'COD_ESTACION', 'NOM_ESTACION', 'FECHA', 'HORA', 'SO2', 'CO', 'NO', 'NO2',
    'NOx', 'O3',
    ]
    
    dataFrame = dataFrame[columnasImportantes]
    
    columnas_con_nulos = ['SO2', 'NO', 'NO2', 'NOx', 'O3']
    
    for columna in columnas_con_nulos:
            dataFrame[columna] = pd.to_numeric(dataFrame[columna], errors='coerce')
            
    for columna in columnas_con_nulos:
        dataFrame[columna].fillna(dataFrame[columna].mean(), inplace=True)
        
    dataFrame = dataFrame.dropna(axis = 1, thresh = 0.5 * len(dataFrame) * 0.5)
        
    return dataFrame

In [5]:
limpiezaAutomaticaPorEstacion(dataElche)

C:\Users\javie\AppData\Local\Temp\ipykernel_14448\3565068501.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame.replace("-", pd.NA, inplace=True)
C:\Users\javie\AppData\Local\Temp\ipykernel_14448\3565068501.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame[columna] = pd.to_numeric(dataFrame[columna], errors='coerce')
C:\Users\javie\AppData\Local\Temp\ipykernel_14448\3565068501.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataFrame[columna].fillna(dataFrame[columna].mean(), inplace=True)
C:\Users\javie\AppData\Local\Temp\ipykernel_14448\3565068501.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame[columna].fillna(dataFrame[columna].mean(), inplace=True)

,COD_ESTACION,NOM_ESTACION,FECHA,HORA,SO2,CO,NO,NO2,NOx,O3
0,3065006,ELX - AGROALIMENTARI,2002-06-01,0,3.325257,<NA>,4.172181,13.435156,19.425123,63.833813
1,3065006,ELX - AGROALIMENTARI,2002-06-01,1,3.325257,<NA>,4.172181,13.435156,19.425123,63.833813
2,3065006,ELX - AGROALIMENTARI,2002-06-01,2,3.325257,<NA>,4.172181,13.435156,19.425123,63.833813
3,3065006,ELX - AGROALIMENTARI,2002-06-01,3,3.325257,<NA>,4.172181,13.435156,19.425123,63.833813
4,3065006,ELX - AGROALIMENTARI,2002-06-01,4,3.325257,<NA>,4.172181,13.435156,19.425123,63.833813
...,...,...,...,...,...,...,...,...,...,...
688749,3065006,ELX - AGROALIMENTARI,2024-11-30,19,4.000000,"0,1",2.000000,5.000000,7.000000,58.000000
688750,3065006,ELX - AGROALIMENTARI,2024-11-30,20,4.000000,"0,1",2.000000,6.000000,8.000000,61.000000
688751,3065006,ELX - AGROALIMENTARI,2024-11-30,21,4.000000,"0,1",2.000000,9.000000,11.000000,55.000000
688752,3065006,ELX - AGROALIMENTARI,2024-11-30,22,4.000000,"0,1",1.000000,16.000000,18.000000,38.000000
688753,3065006,ELX - AGROALIMENTARI,2024-11-30,23,4.000000,"0,1",2.000000,18.000000,21.000000,25.000000

In [6]:
limpiezaAutomaticaPorEstacion(dataTorrevieja)

C:\Users\javie\AppData\Local\Temp\ipykernel_14448\3565068501.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame.replace("-", pd.NA, inplace=True)
C:\Users\javie\AppData\Local\Temp\ipykernel_14448\3565068501.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame[columna] = pd.to_numeric(dataFrame[columna], errors='coerce')
C:\Users\javie\AppData\Local\Temp\ipykernel_14448\3565068501.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataFrame[columna].fillna(dataFrame[columna].mean(), inplace=True)
C:\Users\javie\AppData\Local\Temp\ipykernel_14448\3565068501.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame[columna].fillna(dataFrame[columna].mean(), inplace=True)

,COD_ESTACION,NOM_ESTACION,FECHA,HORA,SO2,NO,NO2,NOx,O3
218354,3133002,TORREVIEJA,2011-01-01,0,2.923867,4.918712,11.140798,18.468141,65.410969
218355,3133002,TORREVIEJA,2011-01-01,1,2.923867,4.918712,11.140798,18.468141,65.410969
218356,3133002,TORREVIEJA,2011-01-01,2,2.923867,4.918712,11.140798,18.468141,65.410969
218357,3133002,TORREVIEJA,2011-01-01,3,2.923867,4.918712,11.140798,18.468141,65.410969
218358,3133002,TORREVIEJA,2011-01-01,4,2.923867,4.918712,11.140798,18.468141,65.410969
...,...,...,...,...,...,...,...,...,...
690189,3133002,TORREVIEJA,2024-11-30,19,2.923867,16.000000,59.000000,83.000000,6.000000
690190,3133002,TORREVIEJA,2024-11-30,20,2.923867,35.000000,57.000000,111.000000,3.000000
690191,3133002,TORREVIEJA,2024-11-30,21,2.923867,21.000000,47.000000,79.000000,3.000000
690192,3133002,TORREVIEJA,2024-11-30,22,2.923867,13.000000,30.000000,49.000000,5.000000
690193,3133002,TORREVIEJA,2024-11-30,23,2.923867,9.000000,21.000000,35.000000,7.000000

In [7]:
dataTorrevieja

,COD_ESTACION,NOM_ESTACION,FECHA,HORA,SO2,CO,NO,NO2,NOx,O3,...,HMN,HNM,H2S,IcdP,Ni,Pb,PST,BbFA+BjFA+BkFA,PM2.5d,PM10d
218354,3133002,TORREVIEJA,2011-01-01,0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
218355,3133002,TORREVIEJA,2011-01-01,1,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
218356,3133002,TORREVIEJA,2011-01-01,2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
218357,3133002,TORREVIEJA,2011-01-01,3,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
218358,3133002,TORREVIEJA,2011-01-01,4,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
690189,3133002,TORREVIEJA,2024-11-30,19,<NA>,<NA>,16,59,83,6,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN
690190,3133002,TORREVIEJA,2024-11-30,20,<NA>,<NA>,35,57,111,3,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN
690191,3133002,TORREVIEJA,2024-11-30,21,<NA>,<NA>,21,47,79,3,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN
690192,3133002,TORREVIEJA,2024-11-30,22,<NA>,<NA>,13,30,49,5,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN
690193,3133002,TORREVIEJA,2024-11-30,23,<NA>,<NA>,9,21,35,7,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN

In [8]:
conjuntoDatos = [dataElche, dataTorrevieja, dataOrihuela]

In [9]:
for dataFrame in conjuntoDatos:
    limpiezaAutomaticaPorEstacion(dataFrame)

C:\Users\javie\AppData\Local\Temp\ipykernel_14448\3565068501.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame.replace("-", pd.NA, inplace=True)
C:\Users\javie\AppData\Local\Temp\ipykernel_14448\3565068501.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame[columna] = pd.to_numeric(dataFrame[columna], errors='coerce')
C:\Users\javie\AppData\Local\Temp\ipykernel_14448\3565068501.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataFrame[columna].fillna(dataFrame[columna].mean(), inplace=True)
C:\Users\javie\AppData\Local\Temp\ipykernel_14448\3565068501.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame[columna].fillna(dataFrame[columna].mean(), inplace=True)
C:\Users\javie\AppData\Local\Temp\ipykernel_14448\3565068501.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame.replace("-", pd.NA, inplace=True)
C:\Users\javie\AppData\Local\Temp\ipykernel_14448\3565068501.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame[columna] = pd.to_numeric(dataFrame[columna], errors='coerce')
C:\Users\javie\AppData\Local\Temp\ipykernel_14448\3565068501.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataFrame[columna].fillna(dataFrame[columna].mean(), inplace=True)
C:\Users\javie\AppData\Local\Temp\ipykernel_14448\3565068501.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame[columna].fillna(dataFrame[columna].mean(), inplace=True)
C:\Users\javie\AppData\Local\Temp\ipykernel_14448\3565068501.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame.replace("-", pd.NA, inplace=True)
C:\Users\javie\AppData\Local\Temp\ipykernel_14448\3565068501.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame[columna] = pd.to_numeric(dataFrame[columna], errors='coerce')
C:\Users\javie\AppData\Local\Temp\ipykernel_14448\3565068501.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataFrame[columna].fillna(dataFrame[columna].mean(), inplace=True)
C:\Users\javie\AppData\Local\Temp\ipykernel_14448\3565068501.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame[columna].fillna(dataFrame[columna].mean(), inplace=True)

In [10]:
import json

In [11]:
def dataFrametoJSON(dataFrame, nombre):
    json_object = dataFrame.to_json(orient='records')
    filename = f"{nombre}-LIMPIO.json"
    with open(filename, 'w') as file:
        file.write(json_object)
    print(f"Archivo guardado como {filename}")

In [12]:
dataFrametoJSON(dataElche, "Elche")
dataFrametoJSON(dataOrihuela, "Orihuela")
dataFrametoJSON(dataTorrevieja, "Torrevieja")
dataFrametoJSON(dataAlicante, "Alicante")

Archivo guardado como Elche-LIMPIO.json
Archivo guardado como Orihuela-LIMPIO.json
Archivo guardado como Torrevieja-LIMPIO.json
Archivo guardado como Alicante-LIMPIO.json

In [13]:
dataElche.to_csv("Elche-Limpio.csv", sep=";", decimal=",")
dataOrihuela.to_csv("Orihuela-Limpio.csv", sep=";", decimal=",")
dataTorrevieja.to_csv("Torrevieja-Limpio.csv", sep=";", decimal=",")
dataAlicante.to_csv("Alicante-Limpio.csv", sep=";", decimal=",")