### Prueba de limpieza del CSV y transformación a JSON

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('estaciones_combinadas_NO_LIMPIO.csv', decimal=",")
data

,COD_ESTACION,NOM_ESTACION,FECHA,HORA,SO2,CO,NO,NO2,NOx,O3,...,BkFA,Cd,DahA,FA,HMN,H2S,IcdP,Ni,Pb,PST
0,3065006,ELX - AGROALIMENTARI,2023-01-01,0,4,"0,1",1,14,14,30,...,-,-,-,-,-,-,-,-,-,-
1,3065006,ELX - AGROALIMENTARI,2023-01-01,1,4,"0,1",1,18,18,29,...,-,-,-,-,-,-,-,-,-,-
2,3065006,ELX - AGROALIMENTARI,2023-01-01,2,4,"0,1",1,11,11,33,...,-,-,-,-,-,-,-,-,-,-
3,3065006,ELX - AGROALIMENTARI,2023-01-01,3,4,"0,1",1,10,10,32,...,-,-,-,-,-,-,-,-,-,-
4,3065006,ELX - AGROALIMENTARI,2023-01-01,4,4,"0,1",1,7,7,36,...,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48235,3133002,TORREVIEJA,2024-11-30,19,-,-,16,59,83,6,...,-,-,-,-,-,-,-,-,-,-
48236,3133002,TORREVIEJA,2024-11-30,20,-,-,35,57,111,3,...,-,-,-,-,-,-,-,-,-,-
48237,3133002,TORREVIEJA,2024-11-30,21,-,-,21,47,79,3,...,-,-,-,-,-,-,-,-,-,-
48238,3133002,TORREVIEJA,2024-11-30,22,-,-,13,30,49,5,...,-,-,-,-,-,-,-,-,-,-
48239,3133002,TORREVIEJA,2024-11-30,23,-,-,9,21,35,7,...,-,-,-,-,-,-,-,-,-,-

In [3]:
data.isnull().sum()

COD_ESTACION    0
NOM_ESTACION    0
FECHA           0
HORA            0
SO2             0
CO              0
NO              0
NO2             0
NOx             0
O3              0
PM10            0
PM2.5           0
PM1             0
NH3             0
C6H6            0
C7H8            0
C8H10           0
Direc.          0
H.Rel.          0
Precip.         0
Pres.           0
R.Sol.          0
Ruido           0
Temp.           0
UV-B            0
Veloc.          0
Veloc.max.      0
As              0
BaA             0
BaP             0
BbFA            0
BjFA            0
BkFA            0
Cd              0
DahA            0
FA              0
HMN             0
H2S             0
IcdP            0
Ni              0
Pb              0
PST             0
dtype: int64

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48240 entries, 0 to 48239
Data columns (total 42 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   COD_ESTACION  48240 non-null  int64
 1   NOM_ESTACION  48240 non-null  object
 2   FECHA         48240 non-null  object
 3   HORA          48240 non-null  int64
 4   SO2           48240 non-null  object
 5   CO            48240 non-null  object
 6   NO            48240 non-null  object
 7   NO2           48240 non-null  object
 8   NOx           48240 non-null  object
 9   O3            48240 non-null  object
 10  PM10          48240 non-null  object
 11  PM2.5         48240 non-null  object
 12  PM1           48240 non-null  object
 13  NH3           48240 non-null  object
 14  C6H6          48240 non-null  object
 15  C7H8          48240 non-null  object
 16  C8H10         48240 non-null  object
 17  Direc.        48240 non-null  object
 18  H.Rel.        48240 non-null  object
 19  Precip.       48240 non-null  object
 20  Pres.         48240 non-null  object
 21  R.Sol.        48240 non-null  object
 22  Ruido         48240 non-null  object
 23  Temp.         48240 non-null  object
 24  UV-B          48240 non-null  object
 25  Veloc.        48240 non-null  object
 26  Veloc.max.    48240 non-null  object
 27  As            48240 non-null  object
 28  BaA           48240 non-null  object
 29  BaP           48240 non-null  object
 30  BbFA          48240 non-null  object
 31  BjFA          48240 non-null  object
 32  BkFA          48240 non-null  object
 33  Cd            48240 non-null  object
 34  DahA          48240 non-null  object
 35  FA            48240 non-null  object
 36  HMN           48240 non-null  object
 37  H2S           48240 non-null  object
 38  IcdP          48240 non-null  object
 39  Ni            48240 non-null  object
 40  Pb            48240 non-null  object
 41  PST           48240 non-null  object
dtypes: int64(2), object(40)
memory usage: 15.5+ MB

In [5]:
data = data.dropna(axis=1, thresh=0.5*len(data)*0.5)

In [6]:
data.replace("-", pd.NA, inplace=True)

In [7]:
data

,COD_ESTACION,NOM_ESTACION,FECHA,HORA,SO2,CO,NO,NO2,NOx,O3,...,BkFA,Cd,DahA,FA,HMN,H2S,IcdP,Ni,Pb,PST
0,3065006,ELX - AGROALIMENTARI,2023-01-01,0,4,"0,1",1,14,14,30,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,3065006,ELX - AGROALIMENTARI,2023-01-01,1,4,"0,1",1,18,18,29,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,3065006,ELX - AGROALIMENTARI,2023-01-01,2,4,"0,1",1,11,11,33,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,3065006,ELX - AGROALIMENTARI,2023-01-01,3,4,"0,1",1,10,10,32,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,3065006,ELX - AGROALIMENTARI,2023-01-01,4,4,"0,1",1,7,7,36,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48235,3133002,TORREVIEJA,2024-11-30,19,<NA>,<NA>,16,59,83,6,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
48236,3133002,TORREVIEJA,2024-11-30,20,<NA>,<NA>,35,57,111,3,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
48237,3133002,TORREVIEJA,2024-11-30,21,<NA>,<NA>,21,47,79,3,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
48238,3133002,TORREVIEJA,2024-11-30,22,<NA>,<NA>,13,30,49,5,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
48239,3133002,TORREVIEJA,2024-11-30,23,<NA>,<NA>,9,21,35,7,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [8]:
columnas_importantes =  [
    'COD_ESTACION', 'NOM_ESTACION', 'FECHA', 'HORA', 'SO2', 'CO', 'NO', 'NO2',
    'NOx', 'O3', 'PST', 'Ni', 'Pb'
]

In [9]:
data = data[columnas_importantes]

In [10]:
data

,COD_ESTACION,NOM_ESTACION,FECHA,HORA,SO2,CO,NO,NO2,NOx,O3,PST,Ni,Pb
0,3065006,ELX - AGROALIMENTARI,2023-01-01,0,4,"0,1",1,14,14,30,<NA>,<NA>,<NA>
1,3065006,ELX - AGROALIMENTARI,2023-01-01,1,4,"0,1",1,18,18,29,<NA>,<NA>,<NA>
2,3065006,ELX - AGROALIMENTARI,2023-01-01,2,4,"0,1",1,11,11,33,<NA>,<NA>,<NA>
3,3065006,ELX - AGROALIMENTARI,2023-01-01,3,4,"0,1",1,10,10,32,<NA>,<NA>,<NA>
4,3065006,ELX - AGROALIMENTARI,2023-01-01,4,4,"0,1",1,7,7,36,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48235,3133002,TORREVIEJA,2024-11-30,19,<NA>,<NA>,16,59,83,6,<NA>,<NA>,<NA>
48236,3133002,TORREVIEJA,2024-11-30,20,<NA>,<NA>,35,57,111,3,<NA>,<NA>,<NA>
48237,3133002,TORREVIEJA,2024-11-30,21,<NA>,<NA>,21,47,79,3,<NA>,<NA>,<NA>
48238,3133002,TORREVIEJA,2024-11-30,22,<NA>,<NA>,13,30,49,5,<NA>,<NA>,<NA>
48239,3133002,TORREVIEJA,2024-11-30,23,<NA>,<NA>,9,21,35,7,<NA>,<NA>,<NA>

In [11]:
data.isnull().sum()

COD_ESTACION        0
NOM_ESTACION        0
FECHA               0
HORA                0
SO2             31081
CO              31130
NO              16059
NO2             16059
NOx             16059
O3               1370
PST             48240
Ni              48240
Pb              48240
dtype: int64

In [12]:
data = data.dropna(axis=1, thresh=0.5*len(data)*0.5)

In [13]:
data

,COD_ESTACION,NOM_ESTACION,FECHA,HORA,SO2,CO,NO,NO2,NOx,O3
0,3065006,ELX - AGROALIMENTARI,2023-01-01,0,4,"0,1",1,14,14,30
1,3065006,ELX - AGROALIMENTARI,2023-01-01,1,4,"0,1",1,18,18,29
2,3065006,ELX - AGROALIMENTARI,2023-01-01,2,4,"0,1",1,11,11,33
3,3065006,ELX - AGROALIMENTARI,2023-01-01,3,4,"0,1",1,10,10,32
4,3065006,ELX - AGROALIMENTARI,2023-01-01,4,4,"0,1",1,7,7,36
...,...,...,...,...,...,...,...,...,...,...
48235,3133002,TORREVIEJA,2024-11-30,19,<NA>,<NA>,16,59,83,6
48236,3133002,TORREVIEJA,2024-11-30,20,<NA>,<NA>,35,57,111,3
48237,3133002,TORREVIEJA,2024-11-30,21,<NA>,<NA>,21,47,79,3
48238,3133002,TORREVIEJA,2024-11-30,22,<NA>,<NA>,13,30,49,5
48239,3133002,TORREVIEJA,2024-11-30,23,<NA>,<NA>,9,21,35,7

In [14]:
data.isnull().sum()

COD_ESTACION        0
NOM_ESTACION        0
FECHA               0
HORA                0
SO2             31081
CO              31130
NO              16059
NO2             16059
NOx             16059
O3               1370
dtype: int64

In [15]:
data["SO2"].isna().sum()

np.int64(31081)

In [16]:
columnas_con__nulos = ['SO2', 'NO', 'NO2', 'NOx', 'O3']

In [17]:
for columna in columnas_con__nulos:
    data[columna] = pd.to_numeric(data[columna], errors='coerce')

C:\Users\javie\AppData\Local\Temp\ipykernel_17256\969775571.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[columna] = pd.to_numeric(data[columna], errors='coerce')

In [18]:
for columna in columnas_con__nulos:
    data[columna].fillna(data[columna].mean(), inplace=True)

C:\Users\javie\AppData\Local\Temp\ipykernel_17256\131931152.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[columna].fillna(data[columna].mean(), inplace=True)
C:\Users\javie\AppData\Local\Temp\ipykernel_17256\131931152.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[columna].fillna(data[columna].mean(), inplace=True)

In [19]:
data

,COD_ESTACION,NOM_ESTACION,FECHA,HORA,SO2,CO,NO,NO2,NOx,O3
0,3065006,ELX - AGROALIMENTARI,2023-01-01,0,4.000000,"0,1",1.0,14.0,14.0,30.0
1,3065006,ELX - AGROALIMENTARI,2023-01-01,1,4.000000,"0,1",1.0,18.0,18.0,29.0
2,3065006,ELX - AGROALIMENTARI,2023-01-01,2,4.000000,"0,1",1.0,11.0,11.0,33.0
3,3065006,ELX - AGROALIMENTARI,2023-01-01,3,4.000000,"0,1",1.0,10.0,10.0,32.0
4,3065006,ELX - AGROALIMENTARI,2023-01-01,4,4.000000,"0,1",1.0,7.0,7.0,36.0
...,...,...,...,...,...,...,...,...,...,...
48235,3133002,TORREVIEJA,2024-11-30,19,3.754473,<NA>,16.0,59.0,83.0,6.0
48236,3133002,TORREVIEJA,2024-11-30,20,3.754473,<NA>,35.0,57.0,111.0,3.0
48237,3133002,TORREVIEJA,2024-11-30,21,3.754473,<NA>,21.0,47.0,79.0,3.0
48238,3133002,TORREVIEJA,2024-11-30,22,3.754473,<NA>,13.0,30.0,49.0,5.0
48239,3133002,TORREVIEJA,2024-11-30,23,3.754473,<NA>,9.0,21.0,35.0,7.0

In [20]:
data.drop("CO", axis=1, inplace=True)

C:\Users\javie\AppData\Local\Temp\ipykernel_17256\865799565.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop("CO", axis=1, inplace=True)

In [21]:
import json

In [22]:
json_object = data.to_json(orient='records')

with open('estaciones_combinadas_LIMPIO.json', 'w') as file:
    file.write(json_object)

### Pruebas sobre Streamlit

In [23]:
import streamlit as st

In [25]:
# streamlit run C:\Users\javie\AppData\Roaming\Python\Python313\site-packages\ipykernel_launcher.py 
st.dataframe(data.head(50))

2025-01-21 19:55:13.463 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-01-21 19:55:13.464 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

DeltaGenerator()